[Desktop Entry]
Type=Application
Name=Neovim Terminal (PyGTK3)
Icon=neovim
Exec=nvim-pygtk3 +term
Comment=PyGTK3 front-end for the Neovim text editor (Terminal)
Categories=GTK;TerminalEmulator;
